//----------------------------------------------
// Crypto
//---------------------------------------------- 
.crypto {
  background-color: $color-lightgrey;

  &__container {

    @media (min-width: $mq-small) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 1em;
      grid-template-rows: 2;
      grid-row-gap: 1em;
    }
  }

  &__subcontainer {
    @include nth-animation-delay(6, $delay: 300ms);

    position: relative;

    padding-top: 100%;

    animation: fade-in-up ease-in-out 1s both;

    &:not(:last-child) {

      @media (max-width: $mq-small) {
        margin-bottom: 1em;
      }
    }
  }

  &__content {
    @extend %flex-center;

    position: absolute;
    top: 0;
    left: 0;

    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 4em 1em;

    background-color: $color-white;
    border: 3px solid $color-alpha;
  }

  &__emoji {
    display: block;

    font-size: 2.5em;
    line-height: 1;
  }

  &__title {
    font-weight: 700;
    font-size: 2em;
  }

  &__value {
    display: block;

    font-size: 1.5em;
  }
}
