//----------------------------------------------
// Crypto
//---------------------------------------------- 
.crypto {
  transition: background-color 300ms ease-in-out;

  &--currency {
    background-color: $color-lightgrey;
  }

  &--percentage {
    background-color: $color-alpha;
  }

  &__container {

    @media (min-width: $mq-small) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 1em;
      grid-template-rows: 2;
      grid-row-gap: 1em;
    }
  }

  &__subcontainer {
    @include nth-animation-delay(6, $delay: 300ms);

    position: relative;

    padding-top: 100%;

    animation: fade-in-up ease-in-out 1s both;

    &:not(:last-child) {

      @media (max-width: $mq-small) {
        margin-bottom: 1em;
      }
    }
  }

  &__content {
    @extend %flex-center;

    position: absolute;
    top: 0;
    left: 0;

    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 4em 1em;

    background-color: $color-white;
    border: 3px solid;
    transition: border-color 300ms ease-in-out;

    .crypto--currency & {
      border-color: $color-alpha;
    }

    .crypto--percentage & {
      border-color: $color-beta;
    }
  }

  &__emoji {
    display: block;

    font-size: 2.5em;
    line-height: 1;
  }

  &__title {
    font-weight: 700;
    font-size: 2em;
  }

  &__value {
    display: block;

    font-size: 1.5em;
  }

  &__format {
    @extend %flex-center;

    padding-top: 1em;

    @media (min-width: $mq-small) {
      padding-top: 2em;
    }

    @media (min-width: $mq-xlarge) {
      padding-top: 3em;
    }
  }

  &__button {
    @extend %flex-center;

    height: 3em;
    width: 3em;

    background-color: $color-white;
    border: 3px solid;
    cursor: pointer;
    transition: all 200ms ease-in-out;

    .crypto--currency & {
        border-color: $color-alpha;
      }

      .crypto--percentage & {
        border-color: $color-beta;
      }

    &:first-child {
      margin-right: 0.5em;
    }

    &:hover,
    &:active,
    &:focus,
    &.active {

      .crypto--currency & {
        color: $color-white;
        background-color: $color-alpha;
      }

      .crypto--percentage & {
        color: $color-alpha;
        background-color: $color-beta;
      }
    }

    span {
      font-weight: 700;
      font-size: 1.25em;
    }
  }
}
