//----------------------------------------------
// Crypto
//---------------------------------------------- 
.crypto {

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;

    & > div {
      @extend %flex-center;

      flex-direction: column;
      padding: 4em 1em;

      color: $color-alpha;
      background-color: $color-white;
      border-radius: 5px;
      box-shadow: 0 1px 1px rgba($color-black, 0.1);
    }
  }

  &__emoji {
    display: block;

    font-size: 2.5em;
    line-height: 1;
  }

  &__value {
    display: block;

    font-size: 1.75em;
  }
}
