//----------------------------------------------
// Popup
//---------------------------------------------- 
.popup {
  @extend %flex-center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -9;

  height: 100vh;
  width: 100%;
  padding: {
    right: 1em;
    left: 1em;
  }

  visibility: hidden;
  background-color: rgba($color-black, 0.9);
  opacity: 0;
  transition: all 600ms ease-in-out;

  .popup-open & {
    z-index: 9999;

    visibility: visible;
    opacity: 1;
  }

  &__open {
    cursor: pointer;
  }

  &__close {
    position: fixed;
    top: 0.5em;
    right: 0.5em;
    z-index: 999;
    
    height: 2.25rem;
    width: 2rem;

    border: none;
    cursor: pointer;

    @media (min-width: $mq-small) {
      top: 1.5em;
      right: 1.5em;
    }
  }

  &__exit {
    position: absolute;
    top: 1em;
    z-index: 1;

    display: block;
   
    cursor: pointer;

    &:after, 
    &:before {
      content: "";
      position: absolute;
      top: 0;
      z-index: -1;
      
      display: block;
      height: 1px;
      width: 1.555555rem;

      background-color: $color-white;
      zoom: 1;
    }

    &:after {
      transform: rotate(45deg);
    }

    &:before {
      transform: rotate(-45deg);
    }
  }

  &__container {
    width: 100%;
    max-width: $max-width--lg;

    background-color: $color-white;

    @media (min-width: $mq-small) {
      display: flex;

      & > * {

        &:first-child {
          flex-basis: 45%;
          max-width: 45%;
        }

        &:last-child {
          flex-basis: 55%;
          max-width: 55%;
        }
      }
    }

    @media (min-width: $mq-med) {
      min-height: $mq-small;
      width: 80%;
    }

    @media (min-width: $mq-xlarge) {
      width: 65%;
    }

    .popup-open & {
      animation: scale 300ms ease-in-out both;
    }
  }

  &__subcontainer {
    @extend %flex-center;

    background-color: $color-lightgrey;
  }

  &__emoji {
    @extend .crypto__emoji;
  }

  &__content {
    display: flex;
    align-items: center;
    padding: 2em 1em;

    @media (min-width: $mq-small) {
      padding: 4em 2em;
    }

    @media (min-width: $mq-xlarge) {
      padding: {
        top: 6em;
        bottom: 6em;
      }
    }
  }

  &__text {
    font-size: 1.5em;

    @media (min-width: $mq-small) {
      font-size: 1.75em;
    }
  }

  &__link {
    color: $color-alpha;
    text-decoration: none;
  }
}
