//----------------------------------------------
// Base typography
//---------------------------------------------- 
body {
  font-family: $font;
  line-height: $base-lineheight;
  color: $color-black;
  background-color: $color-white;
}

//----------------------------------------------
// Fluid body sizing
//---------------------------------------------- 
body {
  font-size: 100%;

  @media (min-width: $mq-small) {
    font-size: 102.5%;
  }

  @media (min-width: $mq-med) {
    font-size: 105%;
  }

  @media (min-width: $mq-large) {
    font-size: 107.5%;
  }

  @media (min-width: 75em) {
    font-size: 110%;
  }

  @media (min-width: $mq-xlarge) {
    font-size: 115%;
  }

  @media (min-width: $mq-xxlarge) {
    font-size: 120%;
  }

  @media (min-width: $mq-xxxlarge) {
    font-size: 125%;
  }
}

//----------------------------------------------
// Headings
//---------------------------------------------- 
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: {
    top: 0;
    bottom: 0;
  }

  font-weight: 300;
}

//----------------------------------------------
// Paragraphs
//---------------------------------------------- 
p {
  margin: {
    top: 0;
    bottom: 0.75em;
  }
}

//----------------------------------------------
// Selection
//---------------------------------------------- 
::selection {
  color: $color-white;
  background: $color-alpha;
  text-shadow: none;
}
