//----------------------------------------------
// Crypto
//---------------------------------------------- 
.crypto {

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;

    & > div {
      @extend %flex-center;

      flex-direction: column;

      border: 1px solid rgba($color-black, 0.3);
      border-radius: 5px;
      box-shadow: 0 1px 1px rgba($color-black, 0.1);
    }
  }

  &__btc {

  }

  &__eth {

  }

  &__ltc {

  }

  &__img {
    width: 2.5em;
    margin-bottom: 0.5em;

    img {
      display: block;
    }
  }

  &__value {
    display: block;

    font-size: 1.25em;
  }
}
