//----------------------------------------------
// Header
//----------------------------------------------
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-998;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-height;
  width: 100%;
  padding: {
    right: 1em;
    left: 1em;
  }

  @media (min-width: $mq-small) {
    padding: {
      right: 2em;
      left: 2em;
    }
  }

  &__img {

    img {
      display: block;
      width: 3em;
    }
  }

  &__popup {
    font-weight: 700;
    font-size: 1.5em;
    cursor: pointer;
  }
}
