//----------------------------------------------
// Header
//----------------------------------------------
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-998;

  display: flex;
  align-items: center;
  height: $header-height;
  width: 100%;
  padding: {
    right: 0.5em;
    left: 0.5em;
  }

  @media (min-width: $mq-small) {
    padding: {
      right: 1.5em;
      left: 1.5em;
    }
  }

  &__img {

    img {
      display: block;
      width: 2.5em;

      @media (min-width: $mq-small) {
        width: 3em;
      }
    }
  }
}
